{% extends 'core/base.html' %}
{% load static %}

{% block title %}Registro - Voluntariado Digital{% endblock %}

{% block content %}
<section class="register-section d-flex align-items-center justify-content-center">
  <div class="register-container shadow-lg">
    
    <!-- Imagen izquierda -->
    <!--<div class="register-image">
      <img src="{% static 'assets/img/Volunter/info.jpg' %}" alt="Voluntariado">
    </div> -->

    <!-- Formulario derecho -->
    <div class="register-form">
      <h2 class="text-center mb-4">Crea tu cuenta</h2>

        <form method="POST" id="formRegistro" novalidate>
        {% csrf_token %}
        {% for field in form %}
      <div class="form-floating mb-3">
        {{ field }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.errors %}
        {% for error in field.errors %}
        <div class="text-danger small mt-1">
          {{ error.message|default:error }}
        </div>
        {% endfor %}
        {% endif %}
      </div>
      {% endfor %}

      <button type="submit" class="btn-register w-100 mt-3">¡Registrarse!</button>

      {% if form.non_field_errors %}
        <div class="alert alert-danger mt-3">{{ form.non_field_errors }}</div>
      {% endif %}
    </form>


      <div class="text-center mt-3 text-muted">
        ¿Ya tienes cuenta? <a href="/login/" class="text-success fw-bold">Inicia sesión</a>
      </div>
    </div>
  </div>
</section>


<script src = "{% static 'assets/js/validation/register.js' %}"></script>


{% endblock %}

{% block extra_js %}
<script>
if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
}
</script>
{% endblock %}
